.cartBackground{
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(127, 127, 127, 0.2);
}
.cartBackground>div{
    background-color: #ffffff;
    width: 1300px;
    box-shadow: -1px 2px 19px 5px rgba(0,0,0,0.52);
    border-radius: 10px;
    max-height: 90%; /* ограничиваем высоту относительно окна */
    overflow-y: auto; /* вертикальный скролл при переполнении */
}
.cartBackground>div>div{
    margin: 0 15px 15px;
}
.cart>hr{
    width: 100%;
}
.counter {
    margin: 0 5%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.counter button {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.counter .count {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.cart{
    display: flex;
    border: 1px solid #7c7c7c;
    border-radius: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.delete{
    width: 80px;
    height: 90px;
}
.delete:hover{
    cursor: pointer;
}
.cart>div>img{
    width: 150px;
    height: 100%;
    border-radius: 20px 0px 0px 20px ;
    justify-content: left;
    align-items: start;
}

.description{
    margin-left: 2%;
    width: 45%;
    word-wrap: break-word;
}
.money{
    margin:0 2%;
}
.cart{
    margin-top: 20px;
}
.payDiv{
    display: flex;
    justify-content: right;
}

.payAll{
    background-color: #00BC52;
    color: white;
    border-radius: 10px;
    border: 1px solid #8c8c8c;
    width: 200px;
    height: 50px;
    font-size: 20px;
}