body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menuBarr{
    background-color: #221f1f;
    width: 100%;
    height: 8vh;
    box-sizing: border-box;

}
.headImg{
    width: 41px;
    height: 35px;
    border-radius: 10px;
}
.menuBarr{
    display: flex;
    justify-content: flex-end ;
}
.rightMenu{
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    margin-right: 40px;
}
.rightMenu>img{
    justify-content: flex-end ;
    margin: 0px 10px ;
}
.headImg:hover{
    background-color: #4D4B4B;
    transition-duration: 0.2s;
}

.countProductInCart{
    background-color: #00A046;
    color: white;
    padding: 4px 8px;
    border-radius: 100%;
}


